<!--
<div class="max-w-md mx-auto ...">
  max-w-md
</div>
-->

<!-- Main Content -->
<main class="m-0 p-3 border border-black bg-white max-w-screen-xl mx-auto">
    Main

    <!-- Header -->
    <header class="bg-blue-100">
        Header


      <nav>
        Nav
      </nav>

      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
      </p>
    </header>

    <!-- Hero -->
    <section class="bg-red-100">
        Hero
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
      </p>
    </section>

    <div class="lg:flex lg:flex-row-reverse">

      <!-- Content -->
      <section class="lg:flex-grow bg-green-100">
        Content
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
      </section>

      <!-- Sidebar -->
      <aside class="lg:w-sidebar bg-gray-100">
          Sidebar
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
      </aside>

    </div>

    <!-- Footer -->
    <footer class="bg-yellow-100">
        Footer
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
      </p>
    </footer>

</main>
