<header class="border-b">

  <div class="m-0 px-3 max-w-screen-xl mx-auto flex items-center justify-between">

    <h1 class="text-xs uppercase tracking-heavy font-semibold leading-10 pr-3 border-r">
      <a [routerLink]="['/']" class="flex space-x-1 items-center hover:text-blue-800">
        <img src="assets/avatar-480x480.png" alt="avatar" class="w-8"/>
        <span>Software&nbsp;Noise</span>
      </a>
    </h1>

    <nav class="flex items-center divide-x divide-gray-400">

      <div class="text-xs uppercase tracking-heavy font-light mx-2">
        <a href="https://hauner.github.io/openapi-processor" class="flex items-center hover:text-blue-800">
          <img src="assets/openapi-processor-p.svg" class="w-12 text-5xl"/>
          <span class="hidden sm:inline">openapi-processor</span>
          <span class="sm:hidden">oap</span>
        </a>
      </div>

      <div class="text-xs uppercase tracking-heavy font-light pl-2">
        <a href="https://openapi-processor-playground.appspot.com/" class="flex items-center hover:text-blue-800">
<!--          <img src="assets/openapi-processor-p.svg" class="w-12 text-5xl"/>-->
          <span class="hidden sm:inline">playground</span>
          <span class="sm:hidden">play</span>
        </a>
      </div>

    </nav>

  </div>

</header>

<!-- Main Content -->
<main class="m-0 p-3 bg-white max-w-screen-xl mx-auto">
    Main



    <!-- Hero -->
    <section class="bg-red-100">
        Hero
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
      </p>
    </section>

    <div class="lg:flex lg:flex-row-reverse">

      <!-- Content -->
      <section class="lg:flex-grow bg-green-100">
        Content
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
      </section>

      <!-- Sidebar -->
      <aside class="lg:w-sidebar bg-gray-100">
          Sidebar
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
        </p>
      </aside>

    </div>

    <!-- Footer -->
    <footer class="bg-yellow-100">
        Footer
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.
      </p>
    </footer>

</main>
