<header id="header">
  <h1>
    <a [routerLink]="['/']" class="logo">
      <img src="assets/avatar-480x480.png" alt="avatar"/>
      <span>Software Noise</span>
    </a>
  </h1>

  <nav class="links">

    <ul style="display: flex; justify-content: flex-end; height: 100%; align-items: center; margin-right: 2rem;">

      <li>
        <a href="https://hauner.github.io/openapi-processor" class="oap">
          <img src="assets/openapi-processor-p.svg" alt="openapi-processor"/>
          <span>openapi-processor</span>
        </a>
      </li>

      <li class="hide">
        <a href="https://openapi-processor-playground.appspot.com/" class="oap">
          <img src="assets/openapi-processor-p.svg" alt="oappenapi-processor playground"/>
          <span>playground</span>
        </a>
      </li>

    </ul>

  </nav>

  <!--
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>
      <li class="menu">
        <a class="fa-bars" routerLink="" (click)="showMenu($event)">Menu</a>
      </li>
    </ul>
  </nav>
-->
</header>
