<div id="wrapper">

  <app-header></app-header>

  <div id="main">

    <div>

      <article class="post">

        current: {{current | json}} running: {{isRunning}} generated: {{isGenerated}}

        <header *ngIf="current != null; else nodata">
          <div class="title">
            <h2>{{current.title}}</h2>
            <p>{{current.description}}</p>
          </div>
          <div class="meta">
            <time class="published" [attr.datetime]="current.date">{{current.date | date:'dd. MMM yyyy'}}</time>

            <div class="tags">
              <ul class="stats">
                <li *ngFor="let tag of current.tags">
                  <a [routerLink]="['/tags', tag]">
                    <span class="icon solid fa-tag">{{tag}}</span>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </header>

        <ng-template #nodata>...</ng-template>

        <div>
          <scully-content></scully-content>
        </div>

        <footer>
          <!--
          <ul class="stats">
            <li *ngFor="let tag of current.tags">
              <span class="icon solid fa-tag">{{tag}}</span>
            </li>
          </ul>
          -->
        </footer>
      </article>

      <!-- Pagination -->
      <!--
      <ul class="actions pagination">
        <li>
          <a *ngIf="routePrev" [routerLink]="[routePrev.route]" class="button large previous">Previous Article - {{routePrev.date | date:'dd.MM.yy'}}</a>
          <a *ngIf="!routePrev" class="button large previous disabled">No Next Article</a>
        </li>

        <li>
          <a *ngIf="routeNext" [routerLink]="[routeNext.route]" class="button large next">Next Article - {{routeNext.date | date:'dd.MM.yy'}}</a>
          <a *ngIf="!routeNext" class="button large next disabled">No Previous Article</a>
        </li>
      </ul>
      -->

    </div>

    <!-- debug
    <p>blog: <span>{{ blog | json }}</span></p>
    -->

  </div>

  <app-sidebar [showArticles]="true"></app-sidebar>

</div>
