// center stacked tags

.published.stacked {
  text-align: center;
}

.stats.stacked {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  li {
    width: 100%;
    text-align: center;
    border-left: none;
    line-height: 2;
    margin: 0;
    padding: 0;
  }
}


// override uppercase title

.post > header .title h2 {
  font-weight: 900;
  font-size: 1.75em;
  text-transform: none;
  letter-spacing: .1em;
}

header p {
  font-size: .9em;
  text-transform: none;
  letter-spacing: .1em;
}
