.published.stacked {
  text-align: center;
}

.stats.stacked {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  li {
    width: 100%;
    text-align: center;
    border-left: none;
    line-height: 2;
    margin: 0;
    padding: 0;
  }
}
