<div id="wrapper">

  <app-header></app-header>

  <div id="main">

    <section >

      <div class="mini-posts">

          <article class="mini-post" *ngFor="let tag of tags$ | async">

            <header style="display: flex; align-items: center">
              <h3 style="margin-bottom: 0">
                <a [routerLink]="['/tags', tag]"><span class="icon solid fa-tag">{{tag}}</span></a>
              </h3>
            </header>

          </article>

      </div>

    </section>

  </div>

  <app-sidebar [showArticles]="true"></app-sidebar>

</div>
