<app-header></app-header>

<main class="m-0 p-5 max-w-screen-xl mx-auto">

  <!--
  <section class="bg-white p-2 mb-4 border">
    <p>top banner</p>
  </section>
  -->

  <div class="lg:flex lg:flex-row-reverse">

    <section class="flex-col lg:flex-grow">

      <article *ngFor="let blog of links$ | async" class="p-4 my-5 border bg-white">
        <header>
          <a [routerLink]="[blog.route]" class="font-semibold">{{blog.title}}</a>
        </header>

        <div class="flex divide-x uppercase text-xs text-gray-500 mt-2">
          <ng-container *ngFor="let tag of blog.tags">
            <a [routerLink]="['/tags', tag]" class="flex items-center underline px-2 hover:text-blue-800">
              <ion-icon name="pricetag"></ion-icon>
              <span class="pl-1">{{tag}}</span>
            </a>
          </ng-container>
        </div>

        <time class="text-xs text-gray-500" [attr.datetime]="blog.date">{{blog.date | date:'dd. MMM yyyy'}}</time>

      </article>

    </section>

    <app-sidebar [showArticles]="false"></app-sidebar>

  </div>

  <!--
    <footer class="p-2 mt-4 border">
      <p>bottom footer</p>
    </footer>
  -->

</main>
