// FutureImperfect
@import "scss/main";
@import "scss/tags";

$fa-font-path: '/assets/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-okaidia.css';

@import "scss/prism-okaidia.css";

h2, h3 {
  text-transform: none;
  letter-spacing: 0;
}

ul.posts article header h3 {
    font-size: 0.875em;
}

.mini-post header h3 {
    font-size: 0.875em;
}


// asciidoctor

.imageblock.text-center {
  display: flex;
  justify-content: center;
}

.footnote {
  font-size: smaller;
}

p {
    margin: 0 0 1.2rem;
}

li p {
    margin: 0 0 0.5rem;
}

pre {
  font-size: 0.875em;
}

code {
  font-size: 0.875em;
}
