<aside class="lg:w-sidebar bg-gray-100 p-4 divide-y">

  <section class="flex flex-col mb-8">
    <a [routerLink]="['/']" class="flex justify-center lg:justify-start">
      <img src="assets/avatar-480x480.png" alt="avatar" class="w-20"/>
    </a>
    <header class="text-xs uppercase tracking-heavy font-light mt-4 text-center lg:text-left whitespace-no-wrap">
      <p>my Exocortex Memory :-)</p>
    </header>
  </section>


  <ng-container *ngIf="showArticles">
    <section *ngFor="let blog of links$ | async" class="py-4">

      <article>
        <header>
          <a [routerLink]="[blog.route]" class="font-light text-sm">{{blog.title}}</a>
        </header>

        <div class="flex divide-x uppercase text-xs text-gray-500 mt-2">
          <ng-container *ngFor="let tag of blog.tags">
            <a [routerLink]="['/tags', tag]" class="flex items-center underline px-2 hover:text-blue-800">
              <ion-icon name="pricetag"></ion-icon>
              <span class="pl-1">{{tag}}</span>
            </a>
          </ng-container>
        </div>

        <time class="text-xs text-gray-500" [attr.datetime]="blog.date">{{blog.date | date:'dd. MMM yyyy'}}</time>

      </article>

    </section>
  </ng-container>


  <section>
    <footer class="flex flex-col uppercase tracking-heavy text-gray-500">
      <div class="flex justify-center lg:justify-start space-x-4 uppercase tracking-heavy text-gray-500 my-8">
        <a href="https://twitter.com/MartinHauner" class="flex items-center hover:text-blue-800">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="https://github.com/hauner" class="flex items-center hover:text-blue-800">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </div>

      <div class="text-center lg:text-left" style="font-size: 0.5rem">&copy; Martin Hauner</div>
      <div class="text-center lg:text-left" style="font-size: 0.5rem">
        built with <a href="https://github.com/scullyio/scully" class="underline hover:text-blue-800">Scully</a>
        & <a href="https://tailwindcss.com" class="underline hover:text-blue-800">tailwindcss</a>
      </div>
    </footer>
  </section>

</aside>
