<app-header></app-header>

<main class="m-0 lg:px-5 py-5 max-w-screen-xl mx-auto">

  <!--
  <section class="bg-white p-2 mb-4 border">
    <p>top banner</p>
  </section>
  -->

  <div class="lg:flex lg:flex-row-reverse">

    <section class="flex-col lg:flex-grow">

      <article *ngFor="let blog of tagLinks$ | async" class="p-4 my-5 border bg-white">
        <header class="text-center">
          <a [routerLink]="[blog.route]" class="font-semibold">{{blog.title}}</a>
        </header>

        <div class="flex justify-center text-xs text-gray-500 mt-2">
          <app-tag-list [tags]="blog.tags"></app-tag-list>
        </div>

        <div class="text-center">
          <time class="text-xs text-gray-500" [attr.datetime]="blog.date">{{blog.date | date:'dd. MMM yyyy'}}</time>
        </div>

      </article>

    </section>

    <app-sidebar [showArticles]="true"></app-sidebar>

  </div>

  <!--
    <footer class="p-2 mt-4 border">
      <p>bottom footer</p>
    </footer>
  -->

</main>
